.center {
    text-align: center;
}

#tooltip {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    font-size: 14px;
    font-weight: bold;
  }